@font-face{
    font-family: "DM-sans-Bold";
    src: url("../fonts/dmsans/DMSans_18pt-Bold.ttf");

}
@font-face{
    font-family: 'Mulish-Regular';
    src: url('../fonts/mulish/Mulish-Regular.ttf');
}